<div class="span10">
  <article lang="<%= post.lang || 'fr' %>">
    <header>
      <h2>
        <a href="<%= config.root %><%= post.path %>" title="<%= post.title %>" rel="bookmark"><%= post.title %></a>
      </h2>
    </header>

    <%- partial("post-cover", {post: post, href: config.root+post.path }) %>

    <div class="excerpt"><%- post.excerpt %></div>

    <footer>
        <a href="<%= config.root+post.path %>" lang="<%= post.lang || "fr" %>" class="btn btn-primary">
          <%= (post.lang || "fr") === "fr" ? "Lire la suite" : "Read more" %>
        </a>
    </footer>
  </article>
</div>
