<!DOCTYPE html>
<html lang="<%- config.language %>" prefix="og: http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <%- css(['assets/css/fonts.css', 'assets/css/main.css']) %>
  <title><%= partial("_title") %></title>
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="apple-touch-icon" type="image/x-icon" href="/assets/avatar.jpg">
  <link rel="icon" href="/favicon.ico">
  <meta name="description" content="<%= partial("_description") %>">
  <meta name="keywords" content="<%= (page.tags && page.tags.toArray().map(function(tag){ return tag.name; }) || []).concat(config.keywords).join(',') %>">
  <link rel="alternate" type="application/rss+xml" title="<%= [config.title, config.subtitle].join(' &mdash; ') %>" href="<%= config.url %>/feed/">
  <link rel="author" href="<%= config.graph.google_plus %>">
  <link rel="publisher" href="<%= config.graph.google_plus %>">
  <link rel="canonical" data-disqus-shortname="<%= config.disqus_shortname %>" href="<%= config.url + (page.current_url || (page.path && config.root+page.path)) %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= config.graph.twitter %>">
  <meta name="twitter:creator" content="@<%= config.graph.twitter %>">
  <meta property="og:title" content="<%= page.title || [config.title, config.subtitle].join(' &mdash; ') %>">
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= config.url + (page.current_url || (page.path && config.root+page.path)) %>">
  <meta property="og:image" content="<%= partial('_cover_url') %>">
  <meta property="og:description" content="<%= partial('_description') %>">
  <meta property="og:locale" content="fr_FR">
  <meta property="og:locale:alternate" content="en_GB">
  <meta property="og:site_name" content="<%= config.title %>">
</head>
<body class="home blog">

<div class="container">
    <div class="navbar" id="services">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="<%- config.root %>slash-me">@ Thomas Parisot</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <% Object.keys(theme.menu).forEach(function(key){ %>
                    <li class="<%= key === 'Blog' ? 'active' : '' %>"><a href="<%- theme.menu[key] %>"><%= key %></a></li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>

<header class="header">
    <div class="container">
        <h1><a href="<%= config.root %>" rel="home"><%- config.title.replace('.io', '<span>.io</span>') %></a></h1>
        <blockquote class="description"><%= config.subtitle %></blockquote>
    </div>
</header>


<div class="container">
    <div class="row">
        <main class="span10" role="main"><%- body %></main>

        <aside class="span2">
            <p class="about">
                <a href="/slash-me" rel="me" class="about">
                    <img src="/assets/avatar.jpg" alt="" class="avatar">
                </a>
            </p>

            <ul id="menu-navigation" class="menu">
                <% Object.keys(theme.links).forEach(function(key){ %>
                <li class="menu-item">
                    <a href="<%= theme.links[key] %>"><%= key %></a>
                </li>
                <% }); %>
            </ul>
        </aside>
    </div>
</div>
<%- js("assets/js/main.js") %>
</body>
</html>
