<!DOCTYPE html>
<html lang="<%- config.language %>">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <%- css(['assets/css/fonts.css', 'assets/css/main.css']) %>
    <title><% if (page.title){ -%><%= [page.title, config.title].join(" &mdash; ") %><% }else{ %><%= [config.title, config.subtitle].join(" &mdash; ") %><% } -%></title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/avatar.jpg">
    <link rel="icon" href="/favicon.ico">
    <meta name="description" content="<%= strip_html(page.excerpt || config.description) %>">
    <meta name="keywords" content="<%= (page.tags && page.tags.toArray().map(function(tag){ return tag.name; }) || []).concat(config.keywords).join(',') %>">
</head>
<body data-navigation-id="" class="home blog">

<div class="container">
    <div class="navbar" id="services">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="<%- config.root %>slash-me">@ Thomas Parisot</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <% Object.keys(theme.menu).forEach(function(key){ %>
                    <li data-page-id=""><a href="<%- theme.menu[key] %>"><%= key %></a></li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>

<header class="header">
    <div class="container">
        <h1><a href="<%= config.root %>" rel="home"><%- config.title.replace('.io', '<span>.io</span>') %></a></h1>
        <blockquote class="description"><%= config.subtitle %></blockquote>
    </div>
</header>


<div class="container">
    <div class="row">
        <main class="span10" role="main"><%- body %></main>

        <aside class="span2">
            <p class="about">
                <a href="/slash-me" rel="me" class="about">
                    <img src="/assets/avatar.jpg" alt="" class="avatar">
                </a>
            </p>

            <ul id="menu-navigation" class="menu">
                <% Object.keys(theme.links).forEach(function(key){ %>
                <li class="menu-item">
                    <a href="<%= theme.links[key] %>"><%= key %></a>
                </li>
                <% }); %>
            </ul>
        </aside>
    </div>
</div>
<% if (config.disqus_shortname && page.comments){ %>
<script>
  var disqus_shortname = '<%= config.disqus_shortname %>';
  var disqus_url = 'https://oncletom.io<%- config.root %><%- page.path %>';

  (function(){
    var dsq = document.createElement('script');
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('body')[0]).appendChild(dsq);
  }());
</script>
<% } %>
<%- js("assets/js/main.js") %>
</body>
</html>