<!DOCTYPE html>
<html lang="<%- config.language %>" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <%- css(['assets/css/fonts.css', 'assets/css/core.css']) %>
  <title><%= partial("_title") %></title>
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="apple-touch-icon" type="image/x-icon" href="/assets/avatar.jpg">
  <link rel="icon" href="/favicon.ico">
  <meta name="description" content="<%= partial("_description") %>">
  <meta name="keywords" content="<%= (page.tags && page.tags.toArray().map(function(tag){ return tag.name; }) || []).concat(config.keywords).join(',') %>">
  <link rel="alternate" type="application/rss+xml" title="<%= [config.title, config.subtitle].join(' &mdash; ') %>" href="<%= config.url %>/feed/">
  <link rel="author" href="<%= config.graph.google_plus %>">
  <link rel="publisher" href="<%= config.graph.google_plus %>">
  <link rel="canonical" data-disqus-shortname="<%= config.disqus_shortname %>" href="<%= config.url + (page.current_url || (page.path && config.root+page.path) || '') %>">
  <% if ('first' in page && !page.year && !page.category){ -%><link rel="prefetch" href="<%= page.first().permalink %>"><% } %>
  <% if (page.next){ -%><link rel="prefetch" href="<%= page.next.permalink %>"><% } %>
  <% if (page.prev){ -%><link rel="prefetch" href="<%= page.prev.permalink %>"><% } %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= config.graph.twitter %>">
  <meta name="twitter:creator" content="@<%= config.graph.twitter %>">
  <meta property="og:title" content="<%= page.title || [config.title, config.subtitle].join(' &mdash; ') %>">
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= config.url + (page.current_url || (page.path && config.root+page.path)) %>">
  <meta property="og:image" content="<%= partial('_cover_url', {post: page}) %>">
  <meta property="og:description" content="<%= partial('_description') %>">
  <meta property="og:locale" content="fr_FR">
  <meta property="og:locale:alternate" content="en_GB">
  <meta property="og:site_name" content="<%= config.title %>">
  <script src="//use.typekit.net/ydq7bvz.js" async onload="Typekit.load()"></script>
</head>
<body class="home blog">

<%- partial("header") %>

<main role="main"><%- body %></main>

<%- partial("footer", {}, { cache: true }) %>

<script src="/assets/js/main.js" async></script>
</body>
</html>
